$image-folder-name:                     "../../../public/images";
$base-color:                            #222;
$base-font-family:                      'Poppins', sans-serif;
$base-font-size:                        14px;
