$image-folder-path:                     "../../images/";

$body-bg-color:                         #f2f7f9;

$base-color:                            #222;
$base-font-family:                      'Poppins', sans-serif;
$base-font-size:                        14px;
